<br> <br> <br>
	<h3>  Add New Author </h3>
	<div class="form-group">

	<%= form_for @author do |f| %>
			<% if @author.errors.any? %>
				<% @author.errors.full_messages.each do |msg| %>
					<div class="alert alert-danger"><%= msg %></div>
				<% end %>
			<% end %>
			<%= f.label :first_name %>
			<%= f.text_field :first_name, class:'form-control' %>
	<br>
			<%= f.label :last_name %>
			<%= f.text_field :last_name, class:'form-control' %>
		<%= f.submit "Add", class:'btn btn-primary' %>
		<%= link_to "Cancel", authors_path, class:'btn btn-primary' %>
	<br>
	

	<% end %>
