<h1>Books#edit</h1>
<p>Find me in app/views/books/edit.html.erb</p>

<h1> Add New Book </h1>

	<%= form_for @book do |f| %>

		<div class="form-group">
			<%= f.label :title %>
			<%= f.text_field :title, class:'form-control' %>
		</div>

		<div class="form-group">	
			<%= f.label :year%>
			<%= f.text_field :year, class:'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :pages %>
			<%= f.text_field :pages, class:'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :coverpath %>
			<%= f.text_field :coverpath, class:'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :category %>
			<%= f.select :category_id, Category.all.collect{|x| [x.name, x.id]},{:include_blank => "Select One"}, class:'form-control' %>
		</div>

		<div class="form-group">
		<%= f.label :author %>
		<%= f.select :author_id, Author.all.collect{|x| [x.first_name + ' ' + x.last_name, x.id]},{:include_blank => "Select One"}, class:'form-control' %>
		</div>
		
		<div class="form-group">
			<%= f.label :country %>
			<%= f.select :country_id, Country.all.collect{|x| [x.name, x.id]}, {:include_blank => 'Select One'}, class:'form-control' %>
		</div>

			<br>
			<%= f.submit "Upate", class:'btn btn-primary' %>
			<%= link_to "Cancel", books_path, class:'btn btn-primary' %>
	<% end %>
