<br> <br><br>
<h3> Add New Category </h3>

	<%= form_for @category do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name, class:'form-control' %>
		
		<%= f.submit "Update", class:'btn btn-primary' %>
		<%= link_to "Cancel", categories_path, class:'btn btn-default' %>
	</div>	
	<% end %>